@page "/CreateGroup"
@using System.Text
@using GroupsPlayground.Persistence
@using GroupsPlayground.Domain
@using GroupsPlayground.Blazor.Components.CreateGroup
@inject NavigationManager navigationManager

<h1>Create new group</h1>

<div>
    <GroupProperties @ref="groupProperties" Visible="@showGroupProperties" OnBack="@OnGroupPropertiesBack" OnNext="@OnGroupPropertiesNext"/>
    <GroupOperation @ref="groupOperation" Visible="@showGroupOperation" OnBack="@OnGroupOperationBack" OnNext="@OnGroupOperationNext"/>
</div>


@code {
    private GroupProperties groupProperties;
    private bool showGroupProperties = true;
    private GroupOperation groupOperation;
    private bool showGroupOperation;

    public void OnGroupPropertiesBack()
    {
        navigationManager.NavigateTo("/");
    }

    public void OnGroupPropertiesNext()
    {
        showGroupProperties = false;
        showGroupOperation = true;
        groupOperation.ElementCount = groupProperties.Size;
    }

    public void OnGroupOperationBack()
    {
        showGroupOperation = false;
        showGroupProperties = true;
    }

    public async Task OnGroupOperationNext() => await DoCreateGroup();

    private async Task DoCreateGroup()
    {
        using Session session = new();
        Group group = new(Guid.NewGuid(), groupProperties.Name, groupOperation.CayleyTable);
        await session.GroupRepository.AddGroupAsync(group);
        session.SaveChanges();
        navigationManager.NavigateTo("/");
    }
}
