@page "/"
@using GroupsPlayground.Persistence
@using GroupsPlayground.Domain
@inject NavigationManager navigationManager

<h1>Group library</h1>

<div>
    <select @bind="@selectedIndex" name="groups" size="5" style="width: 8em">
        @for (int index = 0; index < groups.Count; index++)
        {
            var group = groups[index];
            <option style="width: 50px" value="@index">@group.Name (@group.Elements.Count)</option>
        }
    </select>
</div>

<button @onclick="@Create" class="btn btn-primary">Create</button>
<button @onclick="@Remove" class="btn btn-primary" disabled="@groupSelected">Remove</button>
<button @onclick="@Workspace" class="btn btn-primary" disabled="@groupSelected">Workspace</button>

@code
{
    private List<Group> groups;
    private int selectedIndex;
    private bool groupSelected;

    protected override void OnInitialized()
    {
        using Session session = new();
        RefreshGroups(session);
    }

    private void Create() => navigationManager.NavigateTo("/CreateGroup");

    private void Remove()
    {
        var group = groups[selectedIndex];
        using Session session = new();
        session.GroupRepository.RemoveGroup(group);
        session.SaveChanges();
        RefreshGroups(session);
    }

    private void Workspace()
    {
        var group = groups[selectedIndex];
        navigationManager.NavigateTo($"/GroupElementWorkspace?group={group.Id:N}");
    }

    private void RefreshGroups(Session session)
    {
        groups = session.GroupRepository.GetAllGroups();
        selectedIndex = 0;
        groupSelected = groups.Any();
    }
}
