@page "/"
@using GroupsPlayground.Persistence
@using GroupsPlayground.Domain

<h1>Library</h1>

<div>
    <select @bind="@selectedIndex" name="groups" size="5">
        @for (int index = 0; index < groups.Count; index++)
        {
            var group = groups[index];
            <option style="width: 50px" value="@index">@group.Name (@group.Elements.Count)</option>
        }
    </select>
</div>

<form method="get" action="/CreateGroup">
    <button type="submit">Create new group</button>
</form>
<button @onclick="@RemoveSelectedGroup">Remove group</button>

@code
{
    private List<Group> groups;
    private int selectedIndex;

    protected override void OnInitialized()
    {
        using Session session = new();
        RefreshGroups(session);
    }

    private void RefreshGroups(Session session)
    {
        groups = session.GroupRepository.GetAllGroups();
    }

    private void RemoveSelectedGroup()
    {
        var group = groups[selectedIndex];
        using Session session = new();
        session.GroupRepository.RemoveGroup(group);
        session.SaveChanges();
        RefreshGroups(session);
    }
}
